<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-sans bg-gray-100 h-screen flex items-center justify-center">

<div class="bg-white p-8 rounded shadow-md">
    <!-- Register Link with Tailwind CSS -->
    <a href="userregisteration" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full inline-block mb-4 mr-4">Register</a>

    <!-- Login Link with Tailwind CSS -->
    <a href="userlogin" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full inline-block mb-4">Login</a>
</div>

</body>
</html>