<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-sans bg-gray-100">

<!-- Non-Premium Content -->
<div class="flex flex-col items-center justify-center h-screen">
    <p class="text-xl">Non-Premium User</p>

    <!-- Add Pay Anchor Tag with Tailwind CSS -->
    <a href="/pay" class="text-blue-500 hover:underline mt-4">Get Premium for $10/year</a>
    <br>
    <a href="logout" class="inline-block bg-indigo-500 text-white px-3 py-2 rounded-md text-sm hover:bg-indigo-600 focus:outline-none focus:ring focus:border-indigo-300">
        Logout
    </a>
</div>


</body>
</html>
