<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Failure</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">

<div class="bg-white p-8 rounded shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-4">Password Reset Failure</h2>

    <!-- Content -->
    <p class="text-red-500">Sorry, the password reset failed. Please try again.</p>

    <!-- Additional content or links can be added here -->
    <a href="userlogin" class="text-blue-500 hover:underline mt-4 inline-block">Go Back to Login</a>


</div>

</body>
</html>
